services:
  database:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: devices_database
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped
  otel-collector:
    image: otel/opentelemetry-collector
    container_name: otel-collector
    command: [ "--config=/etc/otel-collector.yml" ]
    volumes:
      - ./observability/otel-collector.yml:/etc/otel-collector.yml
    ports:
      - "4317:4317"
    depends_on:
      - jaeger
  jaeger:
    image: jaegertracing/all-in-one:1.54
    container_name: jaeger
    ports:
      - "16686:16686"   # UI
      - "14250:14250"   # gRPC
    networks:
      - observability
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - observability
  devices-api:
    image:  fmtareco/devices-api:latest
    container_name: devices-api
    ports:
      - "8080:8080"
    networks:
      - postgres
      - observability
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: devices_database
      DEVICE_API_KEY: devices-api-key
      DEVICE_API_SECRET_HASH: $2a$10$a7hVrOTL3KyzCdIhrfZxXOKlAmOtv/fg40gE7AXr024QgTHJYdZl6
    depends_on:
      - database
networks:
  postgres:
    driver: bridge
  observability:
    driver: bridge
volumes:
  postgres-data:
  pgadmin: